<?xml version="1.0" encoding="UTF-8"?>

<!-- mybatis dtd -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.ming.spring.test.jstl.weather.dao.WeatherDAO">

	<!-- weather 정보 select -->
	<select id="selectWeatherList" resultType="com.ming.spring.test.jstl.weather.model.Weather">
		
		SELECT
			`id`
			, `date`
			, `weather`
			, `temperatures`
			, `precipitation`
			, `microDust`
			, `windSpeed`
			, `createdAt`
			, `updatedAt`
		FROM
			`weatherhistory`
				
	</select>
	
	<!-- weather 입력 정보 insert -->
	<insert id="insertWeatherByObject" parameterType="com.ming.spring.test.jstl.weather.model.Weather">
		
		INSERT INTO
			`weatherhistory`
		(
			`date`
			, `weather`
			, `temperatures`
			, `precipitation`
			, `microDust`
			, `windSpeed`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{date}
			, #{weather}
			, #{temperatures}
			, #{precipitation}
			, #{microDust}
			, #{windSpeed}
			, now()
			, now()
		)	
		
	</insert>
	
	<!-- 수업 문제 풀이 -->
	<insert id="insertWeather2" parameterType="map">
		
		INSERT INTO
			`weatherhistory`
		(
			`date`
			, `weather`
			, `temperatures`
			, `precipitation`
			, `microDust`
			, `windSpeed`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{date}
			, #{weather}
			, #{temperatures}
			, #{precipitation}
			, #{microDust}
			, #{windSpeed}
			, now()
			, now()
		)
			
	</insert>
	
</mapper>


